@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "tailwindcss/variants";
/* custom css */
@import "./theme.css";
@import "@/components/component.css";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}



@layer base {
  h1 {
    @apply text-4xl;
  }

  h2 {
    @apply text-3xl;
  }

  h3 {
    @apply text-lg;
  }

  h4 {
    @apply text-base;
  }

  h5 {
    @apply text-sm;
  }

  h6 {
    @apply text-xs;
  }
}

@layer components {

  /* .test {
    @apply text-primary
  } */
  .box-rectangle {
    @apply border border-primary min-w-[200px] h-full
  }
}

@layer utilities {

  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }


  body {
    @apply text-[​#535353] bg-gray-100  border-primary min-h-screen;
   
  }

  .text-balance {
    text-wrap: balance;
    color: rgb(37, 37, 37);

  }

  /* Not found */
  .Not-Found {

    @apply flex h-full justify-center items-center;
  }

  .Not-Found * {
    @apply text-primary text-[4vw] lg:text-[3vw];
  }

  /* special screen   screen < xs = True */
  @media screen(mi) {
    body * {
      font-size: calc(8vw);
    }
  }

  /*  Set theme */
  /* .bg-primary {

    color: theme('colors.primary.night');
  } */

  /* @media screen(sm) {

  .bg-primary {
    color: black;
  }

} */

  /*  min-width หรือ screen > min-width = True */
  /* @media screen(md) {
    .bg-primary {
      color: wheat;
    }
  } */
  .Not-Found {
    @apply flex items-center h-screen
  }

  .m-screen {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
  }
}