@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "tailwindcss/variants";
@import "./Modals/modalStyle.css";

.component {

    color: rgb(17, 17, 216);
}





@layer components {
    .CartLayout .scrollable-container {
        direction: rtl;
        /* กำหนดให้สไลด์ไปทางซ้าย */
    }

    .CartLayout ::-webkit-scrollbar {
        width: 5px;
    }

    /* Track */
    .CartLayout ::-webkit-scrollbar-track {
        background: theme('colors.secondary.DEFAULT');
    }

    /* Handle */
    .CartLayout ::-webkit-scrollbar-thumb {
        background: theme('colors.primary.evening');
    }

    /* Handle on hover */
    .CartLayout::-webkit-scrollbar-thumb:hover {
        background: theme('colors.primary.morning');
    }

    .btn {
        @apply hover:opacity-90;

    }

    .bag .add {

        animation: bounce 0.8s ease-in-out;
    }

    .bag .item-add {

        animation: moveDown 0.5s ease-in-out;
        opacity: 0;
    }




    .NavLayOut {

       
        /* การทำ transition เพื่อสร้างเอฟเฟกต์ slide */

        background-color: transparent;
      
        transition: all 0.5s ease;
       
    }

    .NavLayOut.up {
        position: sticky;

        animation: navDown 0.3s ease-in;
        @apply bg-white  shadow-xl;
    }



    .NavLayOut.down {}



}


@keyframes navDown {

    from {
        top: -10%;

    }

    to {
        top: 0;
        opacity: 1;
    }

}



@keyframes moveDown {
    0% {
        transform: translateY(0);
        opacity: 1;
    }

    50% {
        transform: translateY(20px);
        /* Move down by 20px */
        opacity: 0.5;
    }

    100% {
        transform: translateY(0);
        opacity: 0;
    }
}


@keyframes bounce {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}